/* UNIVERSAL STYLES */

html {
    font-family: "Open Sans";
    font-size: 16px;
    background-color: #E8F1F5;
    color: #2E3440;
}

.main-content {
    position: relative;
    top: 5rem;

}

.center {
    text-align: center;
}

.button {
    border-radius: 0.25rem;
    background-color: #2E3440;
    color: #E8F1F5;
}

.button:hover {
    background-color: #C3B1E1;
    color: white;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    display: block;
}

.divider {
    max-width: 60%;
    border-top: solid 3px #2E3440;
    margin: auto;
}

h1 {
    font-family: "Playfair Display";
}

h2,
h3,
h4,
h5 {
    font-family: "Poppins";
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
}


@media only screen and (max-width: 760px) {
    .main-content {
        position: relative;
        top: 4rem;
    
    }
}

@media only screen and (max-width: 424px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 12px;
    }
}



/* HEADER */

header {
    position: fixed;
    z-index: 5;
    background-color: #E8F1F5;
    border-bottom: solid 2px #2E3440;
    width: 100%;
}

header .logo-container {
    display: block;
    width: 10rem;
    text-align: center;
    padding: 0.5rem;
}
header .logo {
    font-family: "Playfair Display";
    font-size: 1.75rem;
    color: #2E3440;
    font-weight: 600;
    line-height: 1.1;
}

header .content {
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

header nav ul {
    display: flex;
}

nav a {
    font-size: 1.1rem;
    font-weight: 600;
    color: #2E3440;
}

nav a:hover {
    color: #C3B1E1
}

.desktop ul li{
    padding-right: 2.5rem;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 760px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        width: 100%;
    }

    header .logo-container {
        display: flex;
        flex-direction: column;
    }

    header .content {
        display: flex;
        height: 4rem;
        padding: 0.5rem 0;
    }

    header .menu {
        display: flex;
        justify-content: end;
        margin-right: 1rem;
    }

   
    .mobile .menu .drop-down-menu {
        display: none;
    }

    .mobile .menu > li:hover > .drop-down-menu {
         display: block;
         position: fixed;
         top: 0;
         right: 0;
         height: 100%;
         width: 50%;
         padding: 1rem;
         background-color: #E8F1F5;
         border-left: solid 2px #2E3440;
         line-height: 2;
    }

    .mobile .menu > li:hover > .menu-button {
        display: none;
   }

    .mobile .menu .drop-downmenu li {
        line-height: 1.5;
        font-size: 2rem;
   }

    .mobile .menu-button img {
        width: 3rem;
        height: 3rem;
    }
}

/* HERO SECTION */

#hero-section.banner {
    padding: 8rem 2rem;
}

#hero-section .content #banner-title {
    font-size: 7rem;  
  
}

#hero-section .content #banner-subtitle {

    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
}

@media only screen and (max-width: 760px) {
    #hero-section.banner {
        padding: 5rem 2rem;
    }

    #hero-section .content #banner-title {
        font-size: 4rem;  
    }

    #hero-section .content #banner-subtitle {
        line-height: 1;
        margin-top: 1rem;
    }
}

/* UPCOMING EVENTS */

#events {
    padding: 4rem 10rem;
}
#events h2 {
    margin-bottom: 2rem;
}

#events .event-container {
    display: flex;
    align-items: center;
}

#events .event-title {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 600; 
    border-right: solid 3px #2E3440;
    padding: 0 0.25rem;
    margin-top: 0.4rem;
}

#events p {
    padding-left: .5rem;
    line-height: 1.3;
}

@media only screen and (max-width: 859px) {
    #events {
        padding: 2rem 2rem; 
    }

    #events .event-container {
        display: block;
    }

    #events .event-title {
        margin-top: 1rem;
        line-height: 1.6;
        font-weight: 600;
        border: none;
    }

    #events .event-title span {
        display: none;
    }

    #events p {
        padding-left: .5rem;
        line-height: 1.6;
    }
      
}



/*  OFFERINGS */

#offerings.content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#offerings.content h2 {
    padding: 2rem;
}

.offerings-containers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem 15rem;
}

.offering-container {
    overflow: hidden;
    display: flex;
    border: solid 2px #2E3440;
    border-radius: 1rem;
    margin: 2rem 1rem;
    width: 22rem;
}

.offering-container .right-side {
    width: 30%;
    border-right: solid 3px #2E3440;
    overflow: hidden;
    
}

#offerings .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    opacity: .8;
}

#offerings .image-container img {
    width: 4rem;
    height: 4rem;
}



#offerings .filled-box {
    background-color: #2E3440;
    padding: 3rem;
    height: 50%;
    vertical-align: bottom;
}

#offerings .text-container {
    display: block;
    
    text-wrap: wrap;
    width: 70%;
    padding-bottom: 0.5rem;
}

#offerings .text-container h4 {
    background-color: #2E3440;
    color: #fff;
    border-bottom: solid 1px #2E3440;
    padding: 1rem 0;
    text-align: center;
}

#offerings .text-container p {
    padding: 1rem;
}

@media only screen and (min-width: 761px) and (max-width: 1255px) {
    .offerings-containers {
        padding: 0 .5rem;
    }

    .offering-container {
        margin: 2rem 1rem;
        width: 20rem;
    }
 
}

@media only screen and (max-width: 760px) {
    .offerings-containers {
        padding: 0 1rem;
    }

    .offering-container {
        margin: 1rem;
    }     
}



/* JOIN US */

#join-us {
    padding: 3rem 2rem .5rem 2rem;
}

#join-us h2 {
    line-height: 1.1;
}

#join-us h4 {
    margin-top: .5rem;
}

.membership-containers {
    display: flex;
    justify-content: center;
}

.membership-container {
    display: block;
    overflow: hidden;
    border: solid 2px #2E3440;
    border-radius: 1rem;
    width: 16rem;
    height: 18rem;
    margin: 2rem 1rem;
}

#join-us .type {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E3440;
    color:#E8F1F5;
    padding: .6rem 0;
    height: 3rem;
}



#join-us .description {
    padding: 1.5rem 0;
}

#join-us .image-container {
    display: flex;
    justify-content: center;
    padding: .7rem;
}

#join-us .image-container img {
    width: 4rem;
    height: 4rem;
}

#join-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2E3440;
    color: #E8F1F5;
    padding: 4rem 0;
}

#join-banner h3 {
    font-size: 2rem;
    
}

#join-banner .button {
    padding: 1.2rem 3rem;
    font-weight: 600;
    margin-left: 4rem;
    background-color: #2E3440;
    border: solid 2px #E8F1F5;
    color: #E8F1F5;   
}

#join-banner .button:hover {
    background-color: #C3B1E1;
    border: solid 2px #C3B1E1;
    color: #E8F1F5;   
}

@media only screen and (max-width: 760px) {
    .membership-containers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #join-banner {
        display: flex;
        justify-content: space-around;
        padding: 2rem 0;
    }

    #join-banner h3 {
        font-size: 1.7rem;
        margin-left: 1rem;
        
    }

    #join-banner .button {
        padding: 1.2rem 1rem;
        margin-right: 1rem; 
        text-align: center;
    }
      
}


/* FOOTER US */

footer {
    background-color: #E8F1F5;
    border-top: solid 2px #2E3440;
    padding: 1rem 2rem;
}

footer .content {
    flex-shrink: 1;
    color: #2E3440;
    display: flex;
    font-size: .75rem;
    opacity: 80%;
}